@use "../../styles/globals" as g;

.navList{ // ul
    position: absolute;
    box-sizing: border-box;
    list-style: none;
    @include g.create-flexbox(column, space-between);
    width: 90%;
    top: calc(g.$mobile-NavBar-height - 16px + 3vh);
    right: -100%;
    transition: right .2s ease;
    z-index: 200;
    border: 2px solid g.$white-color;
    background-color: rgba(255,255,255,.85);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.5);
    height: calc(100vh - (g.$mobile-NavBar-height) - 10vh);
    font-weight: 600;
    padding: 2vh 1px;
    @include g.display-large{
        background-color: transparent;
        border: none;
        border-radius: none;
        box-shadow: none;
        justify-content: space-between;
        flex-direction: row;
        top: -13px;
        height: g.$desk-NavBar-height;
        font-size: g.$desk-NavBar-font-size;
        font-weight: 300;
        width: 50%;
        min-width: 420px;
        right: 5%;
        line-height: g.$desk-NavBar-height;
        background-color: transparent;
    }
    .navLink{// li
        box-sizing: border-box;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        position: relative;
        width: 70vw;
        height: 8vh;
        line-height: 8vh;
        border-radius: 2vw;
        color: g.$dark-black-color;
        @include g.display-large{
            width: 100%;
            border-radius: .5vw;
        }
    }
    .navLink:hover{
        background-color: g.$main-color;
        color:g.$dark-black-color;
        transition: .2s ease;
        @include g.display-large{
            background-color: transparent;
            color: g.$main-dark-color;
            transform:scale(1.1);
        }
    }
    .splitBar{
        @include g.display-large{
            width: 1px;
            height: calc(g.$desk-NavBar-height * .25);
            background-color: rgb(95, 98, 0);
        }
    }
    .intranet{// div
        box-sizing: border-box;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        position: relative;
        width: 70vw;
        height: 8vh;
        line-height: 8vh;
        border-radius: 2vw;
        color: g.$dark-black-color;
        @include g.display-large{
            width: 100%;
            border-radius: .5vw;
        }
    }
    .intranet:hover{
        background-color: g.$main-color;
        color:g.$dark-black-color;
        transition: .2s ease;
        @include g.display-large{
            background-color: transparent;
            color: g.$main-dark-color;
            transform:scale(1.1);
        }
    }
 
    .loginLinks{
        @include g.display-large{
            @include g.create-flexbox(row, space-evenly);
            background-color: g.$main-dark-color;
            border-radius: 50% / 180%;
            height: 80%;
            width: 43%;
            max-width: 220px;
            min-width: 150px;
            margin-left: 2vw;
        }
        .logLink{// li
            box-sizing: border-box;
            display: inline-block;
            text-decoration: none;
            text-align: center;
            position: relative;
            width: 70vw;
            height: 8vh;
            line-height: 8vh;
            border-radius: 2vw;
            color: g.$dark-black-color;
            @include g.display-large{
                width: 100%;
                border-radius: .5vw;
                color: g.$white-color;
                font-weight: 400;
                font-size: calc(g.$desk-p-font-size * .9);
            }
        }
        .logLink:hover{
            background-color: g.$main-color;
            color:g.$dark-black-color;
            transition: .2s ease;
            @include g.display-large{
                background-color: transparent;
                color: g.$main-light-color;
                transform:scale(1.1);
            }
        }
    }
    .profileContainer{
        @include g.display-large{
            @include g.create-flexbox(row, space-evenly);
            background-color: g.$main-dark-color;
            border-radius: 50% / 50%;
            height: 80%;
            width: 70px;
            margin-left: 2vw;
        }
        .profile{// li
            box-sizing: border-box;
            display: inline-block;
            text-decoration: none;
            text-align: center;
            position: relative;
            width: 70vw;
            height: 8vh;
            line-height: 8vh;
            border-radius: 2vw;
            color: g.$dark-black-color;
            @include g.display-large{
                width: 100%;
                border-radius: .5vw;
                color: g.$white-color;
                font-weight: 400;
                font-size: calc(g.$desk-p-font-size * .9);
            }
        }
        .profile:hover{
            background-color: g.$main-color;
            color:g.$dark-black-color;
            transition: .2s ease;
            @include g.display-large{
                background-color: transparent;
                color: g.$main-light-color;
                transform:scale(1.1);
            }
        }
    }
}
.show{// ul
    right: 5%;
    transition: right .3s ease;
}