@use '../../styles/globals' as g;

.container {
    box-sizing: border-box;
    width: 100%;
    height: 160px;
    padding: 2vw 3vw;
    text-align: center;
    background-color: g.$dark-black-color;
    border-top: 50px solid g.$main-dark-color;
    z-index: 90;
    @include g.display-large{
         justify-content: space-between;
    }

    p{
        color: g.$grey-color;
    }

}