@use '../../styles/globals' as g;

.container{
    box-sizing: border-box;
    width: 100%;
    margin-top: g.$mobile-NavBar-height;
    padding: g.$mobile-main-container-padding;
    @include g.display-large{
        margin-top: g.$desk-NavBar-height;
    }
    .our{
        position: relative;
        text-align: center;
        height: 30px;
        line-height: 30px;
    }
    .worksContainer{
        padding: 10px;
        position: relative;
        @include g.create-flexbox(column, space-between);
        align-items: center;
        .work{
            width: 90%;
            padding-bottom: 12vh;
            border-top: 2px solid g.$es-color;
            .workData{
                @include g.create-flexbox(column, space-between);
                @include g.display-large{
                    flex-direction: row;
                    gap: 2vw;
                    padding-top: 3vh;
                }
            }
            .workText{
                // width: 100%;
                @include g.create-flexbox(column, space-between);
                align-items: flex-start;
                p{
                    margin: 0;
                    @include g.display-large{
                    width: 40vw;
                    }
                }
            }
            img{
                margin: 3vh 0;
                max-width: 90vw;
                max-height: 90vh;
                @include g.display-large{
                max-width: 40%;
                max-height: 50vh;
                }
            }
        }
    }
}